<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>BeerMe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A05D8AFA1CC28C8500FE1763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05D8B101CC28C8500FE1763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A05D8B1B1CC28C8500FE1763</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
